In [11]:
import datetime
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipywidgets import widgets
from IPython.display import display

In [47]:
df = pd.read_csv('data/zamowienia.csv', sep=';')
df.head()

     Kraj Sprzedawca Data zamowienia  idZamowienia    Utarg
0  Polska   Kowalski      2003-07-16         10248   440.00
1  Polska   Sowiński      2003-07-10         10249  1863.40
2  Niemcy    Peacock      2003-07-12         10250  1552.60
3  Niemcy  Leverling      2003-07-15         10251   654.06
4  Niemcy    Peacock      2003-07-11         10252  3597.90

In [48]:
df['Data zamowienia'] = pd.to_datetime(df['Data zamowienia'])

In [49]:
year = widgets.Dropdown(
    description='Rok:',
    value=np.min(df['Data zamowienia'].dt.year),
    options=df['Data zamowienia'].dt.year.unique().tolist()
)
seller = widgets.Dropdown(
    description='Sprzedawca:',
    value=df['Sprzedawca'].unique()[0],
    options=df['Sprzedawca'].unique().tolist()
)
country = widgets.Dropdown(
    description='Kraj:',
    value=df['Kraj'].unique()[0],
    options=df['Kraj'].unique().tolist()
)
agg = widgets.Dropdown(
    description='Agregacja:',
    value='Suma',
    options=['Suma', 'Średnia']
)

In [ ]:
trace1 = go.Bar(x=df['Sprzedawca'], y=df['Utarg'])
graph = go.FigureWidget(data=[trace1], layout=go.Layout(
    title=dict(
        text='Zamówienia'
    ),
    barmode='overlay'
))

In [80]:
def response(change):
    filter_list = [i and j and k for i, j, k in
        zip(df['Data zamowienia'].dt.year == year.value,
            df['Sprzedawca'] == seller.value,
            df['Kraj'] == country.value)]
    temp_df = df[filter_list]
    if agg.value == 'Suma':
        x1 = temp_df['Utarg'].sum()
    else:
        x1 = temp_df['Utarg'].mean()
    with graph.batch_update():
        graph.data.x = x1
        graph.layout.barmode = 'overlay'


year.observe(response, names='value')
seller.observe(response, names='value')
country.observe(response, names='value')
agg.observe(response, names='value')

In [81]:
container = widgets.HBox([year, seller, country, agg])
w = widgets.VBox([container,
              graph])
display(w)

VBox(children=(HBox(children=(Dropdown(description='Rok:', index=1, options=(2003, 2004, 2005), value=2004), D…